<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
   
  <authentication mode="Forms">
    <forms defaultUrl="Home.aspx" loginUrl="Login.aspx" cookieless="AutoDetect" timeout="30"/>
  </authentication>
  <authorization>
    <allow users="*"/>
  </authorization>
  <machineKey validationKey="0E75EE0933B3F3BEDB88C26EA26506EA250464A12F3F69D5938BE2AE1546B60B59C20F23AE8E854C4605F6B488F629149F726C67FCE88B8895F1CC601622428E" decryptionKey="6388FCD55089DFAAA7730EC52EC886D9823BF9EACD2B1E8DD7EEC96EEC7EFE4B" validation="SHA1" decryption="AES"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="job" connectionString="Data Source=.;Initial Catalog=job;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>
